body{
    background-color: #3333;
    
}

.outer-circle{
    width: 50px;
    height: 50px;
    background-color: red;
    animation: kruchu-verchu 2s linear 1, poehali 2s linear 1 forwards, blink 2s linear infinite 1.5s;
    transition: all 1s ease;
    position: relative;
    left: 70%;
    transition: border-radius;
    transition-duration: 3s;
}
.inner-circle{
    position: relative;
    width:30px;
    height:30px;
    background-color: red;
    margin: auto;
    padding-top: 0px;
    animation: kruchu-verchu 1s linear 1.5 , krug 2s linear 1;
    text-align: center;
    top: 10px;
}

.inner-circle span{
    display: inline-block;
    color: white;
    font-size: 30px;
    animation: 2s HiddenText;
    animation-fill-mode: forwards;
    visibility: hidden;
}
.logoText{
  float: right;
  color: white;
  position: relative;
  margin-right: 30%;
  margin-top: 10px;
  font-size: 30px;
  animation: 2s HiddenText;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.roditel{
  position: absolute;
  width: 100%;
  height: 50px;
  background: black;
}

@keyframes HiddenText {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

@keyframes kruchu-verchu {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes krug{
    0%   { border-radius: 50% 50% 50% 50%; background: white; }
    100% {border-radius: 50% 50% 50% 50%; background: white}
}

@keyframes poehali {
    0%   { left: -150px; border-radius: 50% 50% 50% 50%; }
    90% { left: 70%; border-radius: 50% 50% 50% 50%; }
  }
  
@keyframes blink{
  100%{opacity: 0;}
  }