body{
    background-color: #3333;
    
}

.outer-circle{
    width: 100px;
    height: 105px;
    background-color: red;
    animation: kruchu-verchu 2s linear 1, poehali 2s linear 1; 
    transition: all 1s ease;
    position: absolute;
    left: 70%;
    transition: border-radius;
    transition-duration: 3s;

}
.inner-circle{
    position: relative;
    width:35px;
    height: 30px;
    background-color: white;
    margin: auto;
    top:35px;
    border-radius: 50%;
    animation: kruchu-verchu 1s linear infinite;
}



@keyframes kruchu-verchu {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes poehali {
    0%   { left: -150px; border-radius: 50% 50% 50% 50%}
    50%  { border-radius: 50% 50% 50% 50%}
    70%  { border-radius: 30% 50% 30% 50%}
    75% { border-radius: 20% 50% 20% 50%}
    80% { border-radius: 10% 30% 10% 30%}
    85% { border-radius: 0 20% 0 20%}
    90% { border-radius: 0 10% 0 10%}
    100% { left: 70%; border-radius: 0 0 0 0}
  }